# SPDX-License-Identifier: GPL-2.0-only
#
# Network device configuration
#

config VIRTIO_NET
	tristate "Virtio network driver"
	depends on VIRTIO
	select NET_FAILOVER
	select DIMLIB
	help
	  Enable this option to include the VirtIO-based network driver.
	  This driver is essential for supporting VirtIO network devices,
	  commonly used in virtualization environments. It works with
	  QEMU-based virtual machine managers (e.g., KVM or Xen).
	  Say Y or M.