# SPDX-License-Identifier: GPL-2.0-only
menu "Platform selection"

config ARCH_CANOE
	bool "Enable support for Qualcomm Technologies, Inc. Canoe"
	depends on ARCH_QCOM
	help
	  This enables support for Qualcomm Technologies, Inc. Canoe
	  chipset. If you do not wish to build a kernel that runs on this
	  chipset or if you are unsure, say 'N' here.

config ARCH_ALOR
	bool "Enable support for Qualcomm Technologies, Inc. Alor"
	depends on ARCH_QCOM
	help
	  This enables support for Qualcomm Technologies, Inc. Alor
	  chipset. If you do not wish to build a kernel that runs on this
	  chipset or if you are unsure, say 'N' here.

config ARCH_QTI_VM
       bool "Enable Virtual Machines Support for Qualcomm Technologies, Inc."
       depends on ARCH_QCOM
       help
         This enables support for the Qualcomm Technologies, Inc.'s
         Virtual Machines. If you wish to build a kernel that doesn't
         require VM support or if you are unsure,
         say 'N' here.

config ARCH_SUN
	bool "Enable support for Qualcomm Technologies, Inc. Sun"
	depends on ARCH_QCOM
	help
	  This enables support for Qualcomm Technologies, Inc. Sun
	  chipset. If you do not wish to build a kernel that runs on this
	  chipset or if you are unsure, say 'N' here.

config ARCH_PINEAPPLE
	bool "Enable support for Qualcomm Technologies, Inc. Pineapple"
	depends on ARCH_QCOM
	help
	  This enables support for Qualcomm Technologies, Inc. Pineapple
	  chipset. If you do not wish to build a kernel that runs on this
	  chipset or if you are unsure, say 'N' here.

config ARCH_VIENNA
	bool "Enable Support for Qualcomm Technologies, Inc. VIENNA"
	depends on ARCH_QCOM
	help
	  This enables support for the Qualcomm Technologies, Inc.
	  Vienna chipset.
	  If you do not wish to build a kernel that runs on this
	  chipset or if you are unsure, say 'N' here.

endmenu # "Platform selection"
