# SPDX-License-Identifier: GPL-2.0-only
#
# Phy drivers for Qualcomm and Atheros platforms
#

config PHY_QCOM_UFS
	tristate "Qualcomm Technologies, Inc. UFS PHY driver"
	depends on OF && ARCH_QCOM
	select GENERIC_PHY
	help
	  Enables support for UFS PHY on Qualcomm Technologies, Inc.
	  chipsets.
	  This driver together with the UFS PHY controller specific
	  driver enables the UFS PHY support for Qualcomm Technologies, Inc.
	  chips.

if PHY_QCOM_UFS

config PHY_QCOM_UFS_V4
	tristate "Qualcomm Technologies, Inc. UFS V4"
	depends on PHY_QCOM_UFS
	help
	  Support for 7nm UFS QMP phy present on QCOM chipsets.
	  This is required to enable UFS on QCOM chipset.
	  To compile this driver as a module, choose M here.

config PHY_QCOM_UFS_V4_GEN3AUTO
	tristate "Qualcomm Technologies, Inc. UFS gen3auto Phy Driver"
	depends on PHY_QCOM_UFS
	help
	  Support for 7nm UFS QMP phy present on QCOM chipsets.
	  This is required to enable UFS on QCOM chipset.
	  To compile this driver as a module, choose M here.

config PHY_QCOM_UFS_QRBTC_SDM845
	tristate "Qualcomm Technologies, Inc. UFS Presil Phy Driver"
	depends on PHY_QCOM_UFS && REGULATOR_STUB
	help
	  Enable this to support UFS PHY on pre-silicon platforms.
	  The support is restricted to HS-G1 only on both Tx and Rx.
	  No low power mode support is present.
	  Doesn't restrict number of lanes.

config PHY_QCOM_UFS_V4_SUN
	tristate "Qualcomm Technologies, Inc. UFS Sun Phy Driver"
	depends on PHY_QCOM_UFS
	help
	  Support for UFS phy present on QCOM Sun chipsets.
	  This is required to enable UFS on Sun chipset.
	  To compile this driver as a module, choose M here.

config PHY_QCOM_UFS_V4_CANOE
	tristate "Qualcomm Technologies, Inc. UFS Canoe Phy Driver"
	depends on PHY_QCOM_UFS
	help
	  This configuration option adds support for the UFS
	  PHY present on QCOM Canoe chipsets.
	  This is required to enable UFS on Canoe chipset.
	  To compile this driver as a module, choose M here.
	  This is good debug.

endif
